{% extends 'todo/base.html' %}

{% block content %}
 
        <h1 class="mb-5">My Todos</h1>
        <p>* Important todos are in bold.</p>

    <ul>
        {% for todo in todos %}
        <li class="mb-2"> 
            <a href="{% url 'viewtodo' todo.id %}">
            {% if todo.important %}<b>{% endif %}{{ todo.title }}{% if todo.important %}</b>{% endif %} 
            
            {% if todo.memo %} - 
                {% if todo.memo %}<em>{% endif %} {{ todo.memo }} {% if todo.memo %}</em>{% endif %} 
            {% endif %}
            </a>

            &nbsp; &nbsp; &nbsp; &nbsp;Due on: {{todo.created}}
        </li>
        {% endfor %}
    </ul>
    </div>
{% endblock %}