{% extends 'todo/base.html' %}

{% block content %}
{{ error }}
<h2>{{ todo.title }}</h2> 
<br> 
 <em>Quantity: &nbsp; {{ todo.quantity }}</em>
 <p><em>Memo:</em> &nbsp; {{ todo.memo }}</p>
<h5>Edit:</h5>


    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary"  type="submit">Save</button>
    </form>

<form method="POST" action = "{% url 'completetodo' todo.id %}">
    {% csrf_token %}
    <button class="btn btn-warning" type="submit">Complete</button>
</form>

<form method="POST" action = "{% url 'deletetodo' todo.id %}">
    {% csrf_token %}
    <button class="btn btn-sm btn-danger"  type="submit">Delete</button>
</form>

{% endblock %}